@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}

.nav-bar ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    margin-left: 64px;

}

.nav-bar ul li button {
    font-size: 16px;
    margin-left: 8px;

}

.nav-bar ul {
    list-style: none;

}

.btn-primary {
    background-color: #CD4C4C;
    border: none;
    padding: 16px 24px;
    color: #ffff;
}

.btn-secondary {
    color: #CD4C4C;
    border: none;
    padding: 16px 24px;
    background-color: transparent;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.hero .hero-img {
    margin: 0 24px;
}

.description-text h1 {
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 42px;
}

.description-text h1 span {
    font-size: 64px;
    font-weight: 600;
    color: #CD4C4C;
}

.description-text p {
    font-size: 16px;
    color: #555555;
    width: 60%;
    margin-bottom: 18px;
    line-height: 180%;
}

.sponsor {
    margin: 52px 0;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
}